In [10]:
import pandas as pd

In [11]:
filepath = "data/gen9ou-0.txt"
#define filepath for future use

In [12]:
with open(filepath, 'r') as f:
    lines = f.readlines()

    data_lines = [line.strip() for line in lines if '|' in line and "Rank" 
    not in line and "---" not in line]
    #filters out where data actually begins

    #split by pipe
    rows = [line.split('|')[1:-1] for line in data_lines]
    rows = [[cell.strip() for cell in row] for row in rows]

    columns = ["Rank", "Pokemon", "Usage %", "Raw", "Raw %", "Real", "Real %"]

    stats_df = pd.DataFrame(rows, columns=columns)
    #df created

    #convert rows to numeric
    stats_df["Rank"] = stats_df["Rank"].astype(int)
    stats_df["Usage %"] = stats_df["Usage %"].str.replace('%', '').astype(float)
    stats_df["Raw"] = stats_df["Raw"].astype(int)
    stats_df["Raw %"] = stats_df["Raw %"].str.replace('%', '').astype(float)
    stats_df["Real"] = stats_df["Real"].astype(int)
    stats_df["Real %"] = stats_df["Real %"].str.replace('%', '').astype(float)

In [13]:
stats_df.head()

   Rank     Pokemon   Usage %     Raw   Raw %    Real  Real %
0     1  Great Tusk  25.92623  483843  25.926  382714  25.879
1     2   Kingambit  17.62130  328854  17.621  224335  15.170
2     3   Gholdengo  17.18191  320654  17.182  246630  16.677
3     4   Dragapult  15.33391  286166  15.334  222130  15.021
4     5   Dragonite  14.49993  270602  14.500  198376  13.414

In [14]:
stats_df = stats_df.set_index("Rank")
stats_df_cleaned = stats_df[['Pokemon', 'Usage %']]
stats_df_cleaned

#filter out only rank and usage stats. those are the only important things to me

              Pokemon   Usage %
Rank
1          Great Tusk  25.92623
2           Kingambit  17.62130
3           Gholdengo  17.18191
4           Dragapult  15.33391
5           Dragonite  14.49993
...               ...       ...
748          Chimchar   0.00005
749          Hoothoot   0.00005
750   Sandshrew-Alola   0.00005
751     Geodude-Alola   0.00005
752           Drilbur   0.00005

[752 rows x 2 columns]

In [15]:
role_map = {
    "Great Tusk": "Hazard Removal",
    "Kingambit": "Sweeper",
    "Gholdengo": "Wallbreaker",
    "Dragapult": "Pivot",
    "Dragonite": "Sweeper",
    "Ogerpon-Wellspring": "Wallbreaker",
    "Iron Valiant": "Sweeper",
    "Zamazenta": "Sweeper",
    "Slowking-Galar": "Pivot",
    "Corviknight": "Pivot",
    "Gliscor": "Wall",
    "Raging Bolt": "Wallbreaker",
    "Hatterene": "Hazard Removal",
    "Landorus-Therian": "Pivot",
    "Cinderace": "Pivot",
    "Iron Treads": "Hazard Lead",
    "Alomomola": "Pivot",
    "Glimmora": "Hazard Lead",
    "Kyurem": "Wallbreaker",
    "Ceruledge": "Sweeper",
    "Samurott-Hisui": "Hazard Lead",
    "Scizor": "Pivot",
    "Ting-Lu": "Wall",
    "Darkrai": "Sweeper",
    "Rillaboom": "Pivot",
    "Garganacl": "Wall",
    "Iron Moth": "Sweeper",
    "Zapdos": "Pivot",
    "Pecharunt": "Pivot",
    "Walking Wake": "Wallbreaker",
    "Garchomp": "Hazard Stack",
    "Tyranitar": "Wallbreaker",
    "Heatran": "Wallbreaker",
    "Primarina": "Pivot",
    "Clefable": "Utility",
    "Moltres": "Pivot",
    "Enamorus": "Sweeper",
    "Deoxys-Speed": "Sweeper",
    "Meowscarada": "Pivot",
    "Excadrill": "Sweeper",
    "Weezing-Galar": "Pivot",
    "Iron Crown": "Pivot",
    "Torkoal": "Weather Setter",
    "Pelipper": "Weather Setter",
    "Dondozo": "Wall",
    "Toxapex": "Pivot",
    "Tornadus-Therian": "Pivot",
    "Hydrapple": "Wallbreaker",
    "Clodsire": "Wall",
    "Greninja": "Sweeper",
    "Blaziken": "Sweeper",
    "Ninetales-Alola": "Weather Setter",
    "Ursaluna": "Wallbreaker",
    "Serperior": "Sweeper",
    "Araquanid": "Hazard Lead",
    "Hoopa-Unbound": "Wallbreaker",
    "Blissey": "Wall",
    "Weavile": "Wallbreaker",
    "Ninetales": "Weather Setter",
    "Skeledirge": "Wall"

}

with_roles = stats_df_cleaned.copy()
with_roles['Role'] = with_roles['Pokemon'].map(role_map)

with_roles.loc[with_roles['Role'].isna() & (with_roles['Usage %'] < 0.3), 'Role'] = 'Unviable'


#yes these pokemon have multiple sets. dd kyurem is a thing and deadly. we are 
#just using the most common ones for now
with_roles

              Pokemon   Usage %            Role
Rank
1          Great Tusk  25.92623  Hazard Removal
2           Kingambit  17.62130         Sweeper
3           Gholdengo  17.18191     Wallbreaker
4           Dragapult  15.33391           Pivot
5           Dragonite  14.49993         Sweeper
...               ...       ...             ...
748          Chimchar   0.00005        Unviable
749          Hoothoot   0.00005        Unviable
750   Sandshrew-Alola   0.00005        Unviable
751     Geodude-Alola   0.00005        Unviable
752           Drilbur   0.00005        Unviable

[752 rows x 3 columns]

In [16]:
with_roles[with_roles['Pokemon'] == 'Torterra']

       Pokemon  Usage % Role
Rank
154   Torterra  0.49136  NaN